<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>

<f:if condition="{cookieWarning}">
    <div class="cookiewarning-wrapper">
        <f:render partial="CookieWarning" />
    </div>
</f:if>

<f:if condition="{onSubmit}">
    <f:then>
        <f:form target="_top" fieldNamePrefix="" action="login" onsubmit="{onSubmit}">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:then>
    <f:else>
        <f:form target="_top" fieldNamePrefix="" action="login">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:else>
</f:if>


<f:if condition="{messageKey}">
    <div class="message-wrapper {messageKey}">
        <f:comment>
            <strong><f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_header'}"/></strong>
        </f:comment>
        <p>
            <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
        </p>

        <f:if condition="{messageKey} == 'error' && {f:cObject(typoscriptObjectPath: 'lib.helpdeskUID')}">
            <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.helpdeskUID')}" class="button warning icon question">
                <f:translate key="tx_hiveovrfemanager_domain_model_user.helpdesk" extensionName="hive_ovr_femanager" />
            </f:link.page>
        </f:if>

    </div>
</f:if>

<f:section name="content">

    <fieldset>
        <div class="form__group field">
            <f:form.textfield id="felogin_user" name="user" placeholder="{f:translate(key: 'tx_hiveovrfemanager_domain_model_user.email_as_username', extensionName: 'hive_ovr_femanager')}" class="form__field"/>
            <label for="felogin_user" class="form__label">
                <f:translate key="tx_hiveovrfemanager_domain_model_user.email_as_username" extensionName="hive_ovr_femanager" />
            </label>
        </div>
        <div class="form__group field">
            <f:form.password id="felogin_pass" name="pass" data="{rsa-encryption: ''}" placeholder="{f:translate(key: 'tx_hiveovrfemanager_domain_model_user.password', extensionName: 'hive_ovr_femanager')}" class="form__field"/>
            <label for="felogin_pass" class="form__label">
                <f:translate key="tx_hiveovrfemanager_domain_model_user.password" extensionName="hive_ovr_femanager" />
            </label>
        </div>

        <f:if condition="{permaloginStatus} > -1">
            <div>
                <label>
                    <f:translate id="permalogin"/>
                    <f:if condition="{permaloginStatus} == 1">
                        <f:then>
                            <f:form.hidden name="permalogin" value="0" additionalAttributes="{disabled: 'disabled'}"/>
                            <f:form.checkbox name="permalogin" id="permalogin" value="1" checked="checked"/>
                        </f:then>
                        <f:else>
                            <f:form.hidden name="permalogin" value="0"/>
                            <f:form.checkbox name="permalogin" id="permalogin" value="1"/>
                        </f:else>
                    </f:if>
                </label>
            </div>
        </f:if>

        <f:if condition="{settings.showForgotPassword}">
            <div class="forgot-password__group">
                <f:link.action action="recovery" controller="PasswordRecovery">
                    <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
                </f:link.action>
            </div>
        </f:if>

        <div class="submit__group">
            <div id="felogin_submit" class="button primary icon sign-in">
                <f:form.submit value="{f:translate(key: 'login')}" name="submit"/>
            </div>
        </div>

        <div class="felogin-hidden">
            <f:form.hidden name="logintype" value="login"/>
            <f:form.hidden name="pid" value="{storagePid}"/>
            <f:if condition="{redirectURL}!=''">
                <f:form.hidden name="redirect_url" value="{redirectURL}" />
            </f:if>
            <f:if condition="{referer}!=''">
                <f:form.hidden name="referer" value="{referer}" />
            </f:if>
            <f:if condition="{redirectReferrer}!=''">
                <f:form.hidden name="redirectReferrer" value="off" />
            </f:if>
            <f:if condition="{noRedirect}!=''">
                <f:form.hidden name="noredirect" value="1" />
            </f:if>

            {extraHidden}
        </div>
    </fieldset>
</f:section>
</html>
