<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{cookieWarning}">
    <f:render partial="CookieWarning"/>
</f:if>

<f:comment>
    <h3>
        <f:render partial="RenderLabelOrMessage" arguments="{key: 'status_header'}"/>
    </h3>
</f:comment>

<p>
    <f:render partial="RenderLabelOrMessage" arguments="{key: 'status_message'}"/>
</p>


<f:form action="login" actionUri="{actionUri}" target="_top" fieldNamePrefix="" class="logout">
    <fieldset>
        <f:comment>
            <legend>
                <f:translate key="logout"/>
            </legend>
        </f:comment>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-12 col-lg-3 col-xl-2">
                <f:cObject typoscriptObjectPath="lib.user.image" />
            </div>
            <div class="col-12 col-sm-8 col-md-12 col-lg-9 col-xl-10">
                <div><strong>{user.first_name} {user.last_name}</strong></div>
                <div>
                    <label>
                        <f:translate key="tx_femanager_domain_model_user.email" extensionName="femanager" />:
                    </label>
                    {user.email}
                </div>
                <div>
                    <label>
                        <f:translate key="username"/>:
                    </label>
                    {user.username}
                </div>
            </div>
        </div>

        <div class="submit__group">
            <div id="felogin_submit" class="button primary icon sign-out">
                <f:form.submit value="{f:translate(key: 'logout')}" name="submit"/>
            </div>

            <a href="/" class="button primary icon lobby">
                <span class="button-text"><f:translate key="tx_hiveovrfemanager_domain_model_user.lobby" extensionName="hive_ovr_femanager" /></span>
            </a>

        </div>

        <div class="felogin-hidden">
            <f:form.hidden name="logintype" value="logout"/>
            <f:form.hidden name="pid" value="{storagePid}"/>
        </div>
    </fieldset>
</f:form>
</html>
