<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h3>
    <f:translate key="change_password_header"/>
</h3>
<p>
    <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}"/>
</p>

<f:render partial="ValidationErrors"/>

<f:form action="changePassword" method="post">

    <f:comment>
        <legend>
            <f:translate key="change_password"/>
        </legend>
    </f:comment>

    <div class="form__group field">
        <f:form.password name="newPass" placeholder="{f:translate(key: 'newpassword_label1')}" class="form__field" additionalAttributes="{autocomplete: 'new-password'}"/>
        <label for="newPass" class="form__label">
            <f:translate key="newpassword_label1"/>
        </label>
    </div>

    <div class="form__group field">
        <f:form.password name="newPassRepeat" placeholder="{f:translate(key: 'newpassword_label2')}" class="form__field" additionalAttributes="{autocomplete: 'new-password'}"/>
        <label for="newPassRepeat" class="form__label">
            <f:translate key="newpassword_label2"/>
        </label>
    </div>

    <f:form.hidden name="hash" value="{hash}"/>

    <div class="submit__group">
        <div id="felogin_submit" class="button xxlarge primary icon sign-up">
            <f:form.submit value="{f:translate(key: 'change_password')}"/>
        </div>
    </div>

</f:form>

<div class="forgot-password__group">
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</div>

</html>
