{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_city form__group field">

	<femanager:form.textfield
			id="femanager_field_city"
			property="city"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.city')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'city')}" />

	<label for="femanager_field_city" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.city" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'city')}">
			<span>*</span>
		</f:if>
	</label>
</div>
