{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_company form__group field">

	<femanager:form.textfield
			id="femanager_field_company"
			property="company"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.company')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'company')}" />

	<label for="femanager_field_company" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.company" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'company')}">
			<span>*</span>
		</f:if>
	</label>
</div>
