{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_department form__group field">

	<femanager:form.textfield
			id="department"
			property="department"
			placeholder="{f:translate(key: 'tx_hiveovrfemanager_domain_model_user.department', extensionName: 'hive_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'department')}" />

	<label for="department" class="form__label">
		<f:translate key="tx_hiveovrfemanager_domain_model_user.department" extensionName="hive_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'department')}">
			<span>*</span>
		</f:if>
	</label>
</div>
