{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_linkedinProfile form__group field">
	<femanager:form.textfield
			id="linkedinProfile"
			property="linkedinProfile"
			placeholder="{f:translate(key:'tx_hiveovrfemanager_domain_model_user.linkedin_profile', extensionName: 'hive_ovr_femanager')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'linkedinProfile')}" />

	<label for="linkedinProfile" class="form__label">
		<f:translate key="tx_hiveovrfemanager_domain_model_user.linkedin_profile" extensionName="hive_ovr_femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'linkedinProfile')}">
			<span>*</span>
		</f:if>
	</label>

</div>
