{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_name form__group field">

	<femanager:form.textfield
			id="femanager_field_name"
			property="name"
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.name')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'name')}" />

	<label for="femanager_field_name" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.name" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'name')}">
			<span>*</span>
		</f:if>
	</label>
</div>
