{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_password form__group field">
	<f:form.password
			id="femanager_field_password"
			name="password"
			property="password"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.password')}"
			class="form__field"
			value=""
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password')}" />

	<label for="femanager_field_password" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.password" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<span>*</span>
		</f:if>
	</label>

</div>

<div class="femanager_fieldset femanager_password_repeat form__group field">
	<f:form.password
			id="femanager_field_password_repeat"
			name="password_repeat"
			placeholder="{f:translate(key: 'passwordRepeat')}"
			class="form__field"
			value=""
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password_repeat')}" />

	<label for="femanager_field_password_repeat" class="form__label">
		<f:translate key="passwordRepeat" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
			<span>*</span>
		</f:if>
	</label>
</div>
