{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_title form__group field">

	<femanager:form.textfield
			id="femanager_field_title"
			property="title"
			placeholder="{f:translate(key: 'tx_femanager_domain_model_user.title')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'title')}" />

	<label for="femanager_field_title" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.title" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'title')}">
			<span>*</span>
		</f:if>
	</label>
</div>
