{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_zip form__group field">
	<femanager:form.textfield
			id="femanager_field_zip"
			property="zip"
			placeholder="{f:translate(key:'tx_femanager_domain_model_user.zip')}"
			class="form__field"
			additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'zip')}" />

	<label for="femanager_field_zip" class="form__label">
		<f:translate key="tx_femanager_domain_model_user.zip" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'zip')}">
			<span>*</span>
		</f:if>
	</label>
</div>
